{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Home</h1>
    <ul>
        {% for w in wishes %}
        <li><a href="{{ path('detail',{id:w.id}) }}">  {{ w.title }}</a></li>
        {% endfor  %}
    </ul>
{% endblock %}
